body{
    width: 100%;
    text-align: center;
    background-color: #99e5ff;
}


/*
form{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid black;
    background-color: #d9d9d9

} */