/*The background is an adobe stock photo image that I licensed*/
/* The urls for the people are here businessportraitsnyc.com */

/*The individual urls are

https://www.google.com/search?q=business+portraits&biw=1004&bih=889&tbm=isch&tbo=u&source=univ&sa=X&sqi=2&ved=0ahUKEwiQycSxg9PKAhVS6GMKHfSWBckQsAQIGw#imgdii=sINncPhLKHwGxM%3A%3BsINncPhLKHwGxM%3A%3BPhMIQeBaonR1fM%3A&imgrc=sINncPhLKHwGxM%3A
https://www.google.com/search?q=business+portraits&biw=1004&bih=889&tbm=isch&tbo=u&source=univ&sa=X&sqi=2&ved=0ahUKEwiQycSxg9PKAhVS6GMKHfSWBckQsAQIGw#imgrc=sINncPhLKHwGxM%3A
https://www.google.com/search?q=business+portraits&biw=1004&bih=889&tbm=isch&tbo=u&source=univ&sa=X&sqi=2&ved=0ahUKEwiQycSxg9PKAhVS6GMKHfSWBckQsAQIGw#imgdii=sINncPhLKHwGxM%3A%3BsINncPhLKHwGxM%3A%3B0vPULCtgmW210M%3A&imgrc=sINncPhLKHwGxM%3A
https://www.google.com/search?q=business+portraits&biw=1004&bih=889&tbm=isch&tbo=u&source=univ&sa=X&sqi=2&ved=0ahUKEwiQycSxg9PKAhVS6GMKHfSWBckQsAQIGw#imgrc=sINncPhLKHwGxM%3A
https://www.google.com/search?q=business+portraits&biw=1004&bih=889&tbm=isch&tbo=u&source=univ&sa=X&sqi=2&ved=0ahUKEwiQycSxg9PKAhVS6GMKHfSWBckQsAQIGw#tbm=isch&q=business+portraits+women&imgrc=kJff25SKoE96iM%3A

*/

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/forrest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav{
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 1.4em;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 2em;
    font-weight: 300;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

h1{
    color: white;
    font-size: 3em;
    text-align: center;

}

h3{
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-weight: 200;

}

section{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2em;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    padding: 50px;
}


section img{
    max-width: 300px;
}